matplotlib==3.8.0
matplotlib==3.8.4
numpy==1.24.4
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==1.5.3
Pillow==11.0.0
streamlit==1.30.0
streamlit==1.39.0
tensorflow==2.10.0
tf_nightly_intel==2.18.0.dev20240625
torch==2.3.1
torch==2.5.1
torchvision==0.20.1
transformers==4.41.2
transformers==4.46.1
